body {
  font-family: Arial;
}

nav ul li {
  display: inline;
}

a{
  text-decoration: none;
  border-bottom: 1px grey;
  color: lightblue;
}

a:active{
  color: black;
  border-color: grey;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 0;
}
